.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: solid grey 15px;
    height: 1850px;
    width: 1200px;
    left: 860px;
    position: relative;
}

.container2 {
    background-color: #F6EFD8;
    border: solid black 3px;
    height: 1835px;
    width: 1183px;
    position: relative;
    left: 5px;
    top: 5px;
}

.container3 {
    background: #ECECEC;
    ;
    width: 1183px;
    height: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
}

#logo1 {
    margin-top: -30px;
    margin-left: -10px;
    display: flex;
    float: left;
    height: 220px;
}

#logo2 {
    margin-top: -30px;
    margin-right: -40px;
    display: flex;
    float: right;
    height: 170px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    margin-top: -5px;
}

.left {
    text-align: left;
    position: relative;
    right: 170px;
}

.center {
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 100px;
}

.right {
    text-align: right;
}

#collegename {
    font-size: 29px;
    margin: 0px;
    text-align: center;
    margin-left: 125px;
    color: red;
    font-weight: bold;
}

#institute {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}


#address1,
#address2 {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 2px 0;
}

#degree {
    color: #00008B;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#myimage {
    height: 150px;
    width: auto;
}

.maintable,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.tablehead {
    width: 100%;
    text-align: center;
    border: 1.5px solid black;
    padding: 6px 10px;
    border-collapse: collapse;
}

.table3 {
    width: 100%;
    border-collapse: collapse;
}

.finaltable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.mark-body td {
    border: none;
}

.table5 {
    text-align: center;
}

#align {
    text-align: left;
}

.finaldiv {
    display: flex;
    gap: 65px;
}

.removeborder tr,
td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
    text-align: center;
    /* border-collapse: collapse; */
}

.borderfinal td {
    border-bottom: 1px solid black;
    /* border-collapse: collapse; */

}

#barcode {
    width: 130px;
    height: 30px;
    position: relative;
    bottom: 60px;
    left: 20px;
}

#roundimage {
    height: 130px;
    position: relative;
    left: 410px;
    bottom: 5px;
}

.finaldivision {
    display: flex;
    gap: 100px;
    position: relative;
    bottom: 100px;
    margin-left: 8px;
}

#kattankulathoor {
    position: relative;
    bottom: 70px;
    margin-left: 8px;
}

#sign {
    position: relative;
    bottom: 300px;
    left: 730px;
    width: 200px;

}

#valliammai {
    position: relative;
    left: 800px;
    bottom: 250px;
    width: 170px;
}

.finalbackground {
    background: #ECECEC;
    height: 180px;
}